@font-face {
    font-family:digital;
    src: url(digital.ttf);
}

h1 {
    font-size:50px;
    font-family: sans-serif;
    color:white;
    text-shadow: 1px 1px 1px black;
}

body {

    margin: 0;
    text-align:center;
    background-image: url(images/bg.png);
    background-size: fill;
    height:800px;
}

#shuttle-left {
    position:absolute;
    width:60px;
    margin-left:-70px;
    margin-top:20;
    display: none;
}

#shuttle-right{
    position: absolute;
    width: 60px;
    margin-left: 5px;
    margin-top: 20;
    display:none;
}

.wrapper {
    width:550px;
    height:630px;
    border:5px solid black;
    margin-left:auto;
    margin-right:auto;
    padding-bottom: 25px;
    border-radius: 50px;
    background-color: #BAE6FD;
    
}

.timer {
    font-family: digital;
    text-align: center;
    color:black;
    margin-left:auto;
    margin-right:auto;
    height: 70px;
    width:500px;
    border:5px solid black;
    font-size:80px;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.country-section {
    display: grid;
    justify-content:center;
    grid:100px 80px/ auto auto;
    margin-left:5%;
    margin-right:5%;
}

.china-flag {
    background-image: url("images/china.webp");
    width:150px;
    height:70px;
    background-size: cover;
}

.malaysia-flag {
    background-image: url("images/malaysia.webp");
    width: 150px;
    height: 70px;
    background-size: cover;
}


.country-box {
    border: 5px solid black;
    width:235px;
    display:flex;
    margin:10px;
    gap:20px;
}

#player-box-left {
    border: 5px solid black;
    width: 235px;
    display: flex;
    margin: 10px;
    gap: 20px;
}

#player-box-right {
    border: 5px solid black;
    width: 235px;
    display: flex;
    margin: 10px;
    gap: 20px;
}

.country-name{
    margin:10px;
    padding-top: 5px;
    font-size: 30px;
}

.score-section{
    text-align: center;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid black;
    margin-top: 10px;
    height:70px;
    border-radius:50px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.score {
    font-family: digital;
    font-size:90px;
    margin:10px;
    padding-bottom:10px;
    font-weight: 600;
}

#score-left {
    color:orange;
}
#score-right {
    color:green;
}

.btn-section {
    display:flex;
    margin:10px;
    justify-content: center;
    border: 5px solid black;
    height: 60px;
    width: 500px;
    margin-left:auto;
    margin-right:auto;
    gap:40px;
    font-family:sans-serif
}

.btn-left {
    padding:10px 10px;

}

.btn-right {
    padding: 10px 10px;
}

.btn-1 {
    padding:10px 10px;
    font-weight:600;
    background-color:lightgreen;
    border-radius: 10px;
    border: 3px solid black;

}
.btn-challenge {
    padding:10px 15px;
    font-weight: 600;
    background-color: #e63946;
    border-radius: 10px;
    border: 3px solid black;
}

.challenge-section {
    display: flex;
    margin: 10px;
    justify-content: space-around;
    gap:20px;
    height: 60px;
    width: 510px;
    margin-left: auto;
    margin-right: auto;
}

.challenge-box {
    display:flex;
    width:100%;
    border: 5px solid black;
    height:50px;
    padding:10px;
    margin:0;
    justify-content: space-between;
}
.challenge-text {
    height:50px;
    width: 100px;
    margin:0;
    font-size:20px;
    padding-left:10px;
}

.challenge-score {
    font-size:55px;
    font-family: digital;
    padding-right: 40px;
    font-weight: 600;
}
